@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .truncate-10 {
        max-width: 6rem;
        /* 10 characters at default font size */
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .text-2xs {
        font-size: 10px;
    }
    .text-3xs {
        font-size: 8px;
    }
}
